name: Daily Commit

on:
  schedule:
    - cron: '30 14 * * *'
  workflow_dispatch:

jobs:
  commit_job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Step for 24f2000838@ds.study.iitm.ac.in
        run: |
          echo "Run at $(date)" >> last_run.txt
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add last_run.txt
          git commit -m "Auto-commit from GitHub Actions" || echo "No changes to commit"
          git push
